<!DOCTYPE html>
<mat-card class="cardInner mat-elevation-z4" fxFlex="0 1 calc(20em + 50px)"
	gdAreas="header | uname | unamefield | password | pwordfield"
	fxLayoutGap="16px">
	<div gdArea="'header'">
		<h2>Sign In</h2>
	</div>
	<div gdArea="'uname'" class="textArea">Username</div>
	<div gdArea="'unamefield'">
		<input type="text" name="uName">
	</div>
	<div gdArea="'password'" class="textArea">Password</div>
	<div gdArea="'pwordfield'">
		<input type="password" name="pWord" (keyup.enter)="onEnter()"><br>
		<a href="./signup">Create an Account</a><br><br>
		<a routerLink="/forgotpassword" >Forgot Password?</a>
	</div>
	<div gdArea="'button'">
		<button (click)="onClick()" type="submit" mat-raised-button color="primary">Login</button>
	</div>	
</mat-card>