.textArea {
	font-family: Roboto;
	align-content: flex-start;
	float: left;
	font-size: 125%;
}

:host {
	display: block;
	margin-top: 40px;
	border-radius: 5px;
}

h2 {
	float: left;
	font-size: 225%;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px
}

button {
	font-family: 'Bitter', serif;
	float: right;
	font-size: 175%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;	
	margin-top: 20px;
	float: right;
}

input {
	margin-left: 5px;
	font-family: 'Roboto';
	margin-bottom: 10px;
}

mat-form-field {
	width: 100%;
}

.formArea {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cardInner {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

form {
	width: 100%;
}

re-captcha {
	margin-bottom: 15px;
}