<!DOCTYPE html>

<h2>Reservations</h2>

<mat-card class="card mat-elevation-z4" fxLayout="column" *ngIf='!noReservations; else noReserve'>

	<div *ngFor="let reserve of reservations; last as last">
		<div class=reserveUnit>
			<div>
				<h3>Date: {{reserve.date}}</h3>
				<p>Time: {{reserve.time}}</p>
				<p>Owner: {{reserve.owner}}</p>
				<p>Room: {{reserve.room}}</p>
			</div>

			<button mat-icon-button class='push' aria-label="Add User Roles" (click)="addRoles(reserve)">
				<mat-icon>group_add</mat-icon>
			</button>
			<button mat-icon-button type="submit" color="primary" (click)="onClick(reserve)" aria-label="Cancel Reservation">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
		<mat-divider *ngIf="!last"></mat-divider>
	</div>
</mat-card>

<ng-template #noReserve>
	<h3>No Reservations Found</h3>
	<p>Once you make a reservation you can find it here</p>
</ng-template>