.reserveUnit {
	display: flex;

}

.card {
	width: inherit;
}


:host {
	align-content: center;
	display: block;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	width: inherit;
}

.push {
	margin-left: 200px;
}

button {
	font-family: 'Bitter', serif;
	float: right;
	font-size: 175%;
	border: 0;
	outline: 0;	
	border-radius: 5px;
	margin-top: auto;
	margin-bottom: auto;
	height: 2em;
}