.reserveUnit {
	display: flex;

}

.card {
	width: inherit;
}


:host {
	align-content: center;
	display: block;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	width: inherit;
}

button {
	font-family: 'Bitter', serif;
	float: right;
	font-size: 175%;
	border: 0;
	outline: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;	
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 200px;
	height: 2em;
}