/* You can add global styles to this file, and also import other style files */
@import './custom-theme.scss';

h1 {
	font-family: 'Bitter', serif;
}
h2 {
	font-family: 'Bitter', serif;
}
h3 {
	font-family: 'Bitter', serif;
}

a {
	color: #597aff;
}