/* You can add global styles to this file, and also import other style files */

h1 {
	font-family: 'Bitter', serif;
	font-weight: 500;
}
h2 {
	font-family: 'Bitter', serif;
}
h3 {
	font-family: 'Bitter', serif;
}

a {
	color: #597aff;
}

.back_button {
	padding-left: 0px !important;
}
