

.dashCard {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 275px;
	height: 275px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

h2 {
	font-family: 'Bitter', serif;
}