<mat-card class="mat-elevation-v4 card">
	<h2>Change Password</h2>
	<form class="form-view">
		<mat-form-field appearance="outline">
			<mat-label>New Password</mat-label>
			<input matInput placeholder="New Password">
		</mat-form-field>
		
		<mat-form-field appearance="outline">
			<mat-label>Confirm New Password</mat-label>
			<input matInput placeholder="Confirm New Password">
		</mat-form-field>
		
		<button type="submit" mat-raised-button color="primary" (click)="toDashboard()">Submit</button>
	</form>
</mat-card>