input {
	border-radius: 5px;
	border-color: #ddd;
	border-style: solid;
	outline: 0;
	padding: 5px;
	font-family: 'Roboto';
	font-size: 150%;
	width: 95%;
	margin-bottom: 10px;
	margin-right: 40px;
}


button {
	font-family: 'Bitter', serif;
	background-color: #081E3F;
	color: white;
	float: right;
	font-size: 175%;
	border: 0;
	outline: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;	
	border-radius: 5px;
	margin-top: 20px;
}

h2 {
	font-size: 200%;
}


.cardInner {
	font-family: "Roboto";
}
:host {
	align-content: center;
	display: block;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	width: inherit;
}

