<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>

  :host{
    font-family: 'Bitter', serif;
  }
</style>

<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">


<div class=toolbar>

  <h1>Library Reserve</h1>

</div>
<div fxLayout="row"  fxLayoutAlign="center">
  <app-login fxFlex="0 1 calc(20em + 50px)"></app-login>
</div>


<router-outlet></router-outlet>