<style>
  :host{
    font-family: 'Roboto';
  }
</style>


<head>
<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>



<mat-toolbar color='primary' style="margin: -8px; width: auto;" class="mat-elevation-z3">
  <h1 (click)="toHome()" class="home-link">Reservo</h1>

  <span class="toolbar-spacer"></span>

  <button mat-button class='back_button' (click)="logout()">Logout</button>
</mat-toolbar>
<body>
  <div fxLayout="row" fxLayoutAlign="center">
    <router-outlet></router-outlet>
    
  </div>

  <p align="center" style="margin-top: 20px">&copy; 2019 Florida International University</p>

</body> 