<style>
  :host{
    font-family: 'Roboto';
  }
</style>


<head>
<link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
</head>
<div class=toolbar>

  <h1 style="align-self: flex-start;">Reservo</h1>

  <a href="./login" class='loginLink'>Login</a>
  <p style="margin-top: auto; margin-bottom: auto;"> / </p>
  <a href="./signup" style="margin-right: 8px;">Sign Up</a>

</div>
<body>
  <div fxLayout="row" fxLayoutAlign="center">
    <router-outlet></router-outlet>
    
  </div>

  <p align="center" style="margin-top: 20px">&copy; 2019 Florida International University</p>

</body> 